.container {
  max-width: 172rem;
  width: 100%;
  margin: 0 auto;

  @include ltBigDesktop {
    padding: 0 3rem;
  }

  @include ltTablet {
    padding: 0 5rem;
  }

  @include ltPhone {
    padding: 0 1.5rem;
  }
}

.text-medium {
  font-size: 1.6rem;
  line-height: 150%;
}

.text-small {
  font-size: 1.4rem;
  line-height: 150%;
}

.text-very-small {
  font-size: 1.2rem;
  line-height: 150%;
}

.heading-medium {
  font-size: 4.2rem;
  font-weight: 700;
  color: white;

  @include ltTablet {
    font-size: 3.8rem;
  }

  @include ltPhone {
    font-size: 2rem;
  }
}

.heading-small {
  font-size: 3.6rem;
  line-height: 150%;
  font-weight: 700;

  @include ltPhone {
    font-size: 2rem;
  }
}
